span.eqno {
	float: right;
}

.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: inherit;
}

/* Logo styling for Furo theme */
.sidebar-brand img {
	max-width: 100%;
	height: auto;
	margin: 10px auto;
	display: block;
}
