name: Build

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    name: Build (linux)
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Set up build environment
        uses: ./.github/actions/setup
        with:
          platform: linux
      
      - name: Configure project
        uses: ./.github/actions/cmake-configure
        with:
          platform: linux
      
      - name: Build project
        uses: ./.github/actions/build
        with:
          platform: linux

  build-other-platforms:
    needs: build-linux
    if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-14
            platform: macos-arm
          - os: windows-2022
            platform: windows
    
    runs-on: ${{ matrix.os }}
    name: Build (${{ matrix.platform }})
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Set up build environment
        uses: ./.github/actions/setup
        with:
          platform: ${{ matrix.platform }}
      
      - name: Configure project
        uses: ./.github/actions/cmake-configure
        with:
          platform: ${{ matrix.platform }}
      
      - name: Build project
        uses: ./.github/actions/build
        with:
          platform: ${{ matrix.platform }}